/* POST AND CATEGORY SECTION */
.DivPostCategory {
    float: left;
    display: inline-flex;
    height: auto;
    margin: 10px 0 0px 8px;
    width: 1200px;
    height: 464px;
    max-height: 464px;
    overflow: auto;
    border: 1px solid rgba(0,0,0,.225);
}
.tittleListPC {
    font-size: 1.05rem;
    font-weight: bolder;
    width: 100%;
}
.DivPostCategory li {
    text-align: left;
    display: block;
    padding: 8px 5px 8px 10px;
    border: 1px solid rgba(0,0,0,.225);
    background-color: white;
    width: 100%;
}

/* NUMBER POST SECTION */
.listNumberPost {
    width: 40px;
    padding: 0;
    margin-bottom: 0;
}
.listNumberPost li {
    text-align: center !important;
    padding: 8px 0 !important;
}

/* POST SECTION */
.listPost {
    width: 1160px;
    padding: 0;
    margin-bottom: 0;
}
.buttonShow {
    text-align: center;
    float: right;  
    font-size: 0.85rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 0 2px;
    margin: 0 0 0 4px;
    background-color: white; 
    color: black; 
    border: 1.2px solid rgba(0,0,0,.225);
    border-radius: 2px;
}
.buttonShow:hover {
    background-color: gray;
    color: white;
}