/* POST AND CATEGORY SECTION */
.DivPostCategory {
    float: left;
    display: block;
    height: auto;
    /* camibar */
    margin: 0; 
    width: 1200px;
    height: 464px;
    max-height: 464px;
    overflow: auto;
    border: 1px solid rgba(0,0,0,.225);
}
.titleList{
    display: table;
    width: 100%;
    max-width: 100%;
    height: 7.8%;
    max-height: 7.8%;;
}
.titleList li{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.225);
    height: 100%;
    padding-left: 8px;
    font-size: 1.1rem;
    font-weight: bolder;
}
.NCClist{
    display: table;
    width: 100%;
    max-width: 100%;
    height: 5.2%;
    max-height: 5.2%;;
}
.NCClist li{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.225);
    padding-left: 8px;
    font-size: 0.8rem;
}