.App {
  text-align: center;
  height: 100%;
}


.Bar-header {
  background-color: #333333;
  padding: 1%;
  height: 8%;
  color: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.Emailside {
  position: relative;
}
.ButtonLogOut {
  position: relative;
}


.divAPC {
  height: 100%;
}


.aside {
  background-color: #007acc;
  float: left;
  width: 10%;
  color: black;
  height: 92%;
}
.ShowTx {
  text-align: center;
  margin: 15px 0px;
}

.collapseEstilo {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
}
.buttonBack {
  margin: 5px  0px 0px 8px;
  float: left;
  height: auto;
  background-color: white;
}


.DivDefinition {
  display: inline-flex;
  height: auto;
  margin: 0 8% 0 12%;
}
.listDefiniton {
  margin: 0 0 5% 0;
  padding: 0;
  background-color: aliceblue;  
}
.listDefiniton li {
  text-align: left;
  display: block;
  padding: 8px 5px 8px 10px;
  border: 1px solid rgba(0,0,0,.125);
}
.tittleList {
  font-size: 1.3rem;
  background-color: white;
  border-bottom: 1px solid black;
}


.buttonSave {
  margin: 1% 0 0 1%;
  float: left;
  height: auto;
  background-color: white;
}

.DivPostCategory {
  float: left;
  display: inline-flex;
  height: auto;
  margin: 1% 0 0 1%;
  width: 86%;
}
.listPost {
  padding: 0;
  width: 80%;
}
.listCategory {
  padding: 0;
}
.listCategory select {
  border: 0px solid;
  font-size: 0.9rem;
  background-color: white;
  color: black;
}
.DivPostCategory li {
  text-align: left;
  display: block;
  padding: 8px 5px 8px 10px;
  border: 1px solid rgba(0,0,0,.125);
  background-color: white;
  width: 100%;
}
.tittleListPC {
  font-size: 1.3rem;
  width: 100%;
}

.divShowMore{
  display: inline;
}
.buttonChange {
  padding: 0 2px;
  margin: 0 0 0 4px;
  border: none;
  color: white;
  text-align: center;
  float: right;  
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  line-height: auto;
  font-size: 0.9rem;
}
.buttonShow {
  background-color: white; 
  color: black; 
  border: 1.2px solid rgba(0,0,0,.125);
  border-radius: 2px;
}
.buttonShow:hover {
  background-color: gray;
  color: white;
}